* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  word-wrap: break-word !important;
  word-break: break-word !important; }

.color_negro {
  background-color: black !important; }

.img_nav {
  width: 150px;
  height: 100px; }

.chat_whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10; }

.color {
  color: white !important; }

.carrito_de_compras {
  cursor: pointer !important;
  width: 50px;
  height: auto;
  background-color: black;
  border-style: none !important; }
  @media (min-width: 992px) {
    .carrito_de_compras {
      position: absolute;
      right: 10px;
      width: 100px; } }
  .carrito_de_compras .cantidadCarrito {
    display: none;
    position: relative;
    width: 20px;
    padding: 4px;
    font-size: small;
    color: white;
    background-color: red;
    border-radius: 50%; }

.producto {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
  box-shadow: 0 0 10px rgba(3, 2, 2, 0.5);
  background-color: aliceblue; }
  .producto .agregarCarrito {
    flex-direction: row;
    max-width: 150px;
    max-height: 75px;
    margin-bottom: 10px; }
  .producto .producto_nombre {
    flex-direction: row;
    font-size: small;
    font-weight: 500;
    text-align: center; }
  .producto .precio {
    flex-direction: row;
    font-size: xx-large;
    text-align: center; }

.modal_container ::-webkit-scrollbar {
  display: none; }

.modal_container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  flex-direction: column; }

.modal_header {
  display: flex;
  flex-direction: row;
  max-height: 200px;
  background-color: black;
  padding-top: 10px;
  margin-bottom: 20px; }
  .modal_header .modal_header_titulo {
    color: white;
    align-self: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    top: 0px; }
  .modal_header .modal_header_button {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: large;
    font-weight: 700;
    color: white; }

.listado_carrito {
  display: flex;
  width: 90%;
  height: 50vh; }

.carrito_content {
  background-color: rgba(0, 0, 0, 0.377);
  width: 90%;
  height: 200px;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  align-self: center; }

.lista_nombre {
  font-size: medium;
  color: black;
  align-self: center; }

.divCantidad {
  display: flex;
  justify-content: center;
  align-items: center; }

.restar {
  cursor: pointer !important;
  text-align: end;
  font-weight: 800; }

.sumar {
  cursor: pointer !important;
  font-weight: 800;
  text-align: start; }

.cantidad {
  text-align: center;
  padding: 20px;
  font-weight: 800; }

.lista_precio {
  font-size: medium;
  color: black;
  align-self: center;
  text-align: center; }

.eliminar_producto {
  cursor: pointer !important;
  display: flex;
  justify-content: end; }

.total_carrito {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: end;
  border-style: solid;
  border-color: black; }

.total {
  width: fit-content; }
